<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:if condition="{content.slider}">
        <header>
            <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
                <ol class="carousel-indicators">
                    <f:for as="item" each="{content.slider}" iteration="itemIterator">
                        <li class="{f:if(condition: itemIterator.isFirst, then: 'active')}" data-slide-to="{itemIterator.index}" data-target="#carouselExampleIndicators">
                        </li>
                    </f:for>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <f:for as="item" each="{content.slider}" iteration="itemIterator">
                        <!-- FAL Media -->
                        <f:comment>
                            <div class="carousel-item {f:if(condition: itemIterator.isFirst, then: 'active')}" style="background-image: url('{f:uri.image(src: '{item.image}')}')">
                            </div>
                        </f:comment>
                        <!-- Static Media -->
                        <div class="carousel-item {f:if(condition: itemIterator.isFirst, then: 'active')}" style="background-image: url('http://placehold.it/1980x1080')">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>
                                    {item.headline}
                                </h3>
                                <p>
                                    <f:format.html>
                                        {item.subheadline}
                                    </f:format.html>
                                </p>
                            </div>
                        </div>
                    </f:for>
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon">
                    </span>
                    <span class="sr-only">
                        Previous
                    </span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                    <span aria-hidden="true" class="carousel-control-next-icon">
                    </span>
                    <span class="sr-only">
                        Next
                    </span>
                </a>
            </div>
        </header>
    </f:if>
</html>
