<style>

    @import url({settings.googleFontURL});
    @import url({settings.headingFontsURL});

    body {    
        font-family: {settings.defaultFontsName};
        color: {settings.defaultColor};
        background-color: {settings.bodyBackgroundColor};
    }

    h1, h2, h3, h4, h5, h6{
        font-family: {settings.headingFontsName};
        color: {settings.headingColor};
    }    

    a, .go-top, .download-links li a{
        color: {settings.defaultLinkColor};
    }

    .logo:hover span,
    .logo:focus span{
        color: {settings.defaultLinkColor};
    } 

    p a,
    .logo span,
    .logo:hover,
    .logo:focus,
    a.search-trigger:hover,
    .card-header a:hover,
    .card-header a:focus,
    .search-active .search-trigger,
    h1.color-heading, h2.color-heading, h3.color-heading, h4.color-heading, h5.color-heading, h6.color-heading,  
    p.color-text,
    .pagination .page-item .page-link,
    .tx-indexedsearch-browsebox li a{
        color: {settings.brandColor};
    }
    a:hover, a:focus, 
    em:hover, i:hover,
    em:focus, i:focus,
    .go-top:hover,
    .download-links li a:hover,
    .download-links li a:focus,
    .thumb a:hover h5,
    .navigation li.active > a, .navigation li:hover > a,
    .sidebar ul li a:hover,
    .sitemap-lists li a:hover,
    .sitemap-lists li a:focus,
    .sitemap-lists li a:active,
    .btn.btn-transparent:focus, .btn.btn-transparent:hover,
    .content-section .contact-detail ul li a:hover {
        color: {settings.aHoverColor};
    }

    p a:hover,
    p a:focus{
        color: {settings.buttonHoverColor};
    }


    .download-links li a:hover i{
        color: {settings.brandColor};
    }      

    input:active, input:focus, select:active, select:focus, textarea:active, textarea:focus,
    body .cc_container .cc_btn{
        border-color: {settings.brandColor};
    }
    .carousel-indicators li.active,
    .testimonials .carousel-indicators li.active,
    .menu-trigger .bars, 
    body .cc_container .cc_btn{
        background-color: {settings.brandColor};
    }

    .btn.btn-primary {
        background-color: {settings.buttonColor};
    }

    .btn.btn-primary:focus, .btn.btn-primary:hover,
    body .cc_container .cc_btn:hover{
        background-color: {settings.buttonHoverColor};
        border-color: {settings.aHoverColor};
    }


    .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        background-color: {settings.buttonHoverColor};      
    }

    .footer-page{
        background-color: {settings.backgroundColor};
    }
    .footer-page h2,
    .footer-page h3,
    .footer-page h4{
        color: {settings.brandColor};
    }

    /*  .footer-page{
          background-color: {settings.brandColor};
      }
      .footer-page h2,
      .footer-page h3,
      .footer-page h4{
              color: {settings.brandColor};
      }*/
</style>