<!-- Footer -->
<hr>
<footer>
    <div class="container">
      	<div class="row">
	        <div class="col-lg-8 col-md-10 mx-auto">
                <f:variable name="activeTwitter">{twitter -> f:or(alternative: settings.twitter)}</f:variable>
                <f:variable name="activeFacebook">{facebook -> f:or(alternative: settings.facebook)}</f:variable>
                <f:variable name="activeGithub">{github -> f:or(alternative: settings.github)}</f:variable>
                <f:variable name="activeLinktext">{linktext -> f:or(alternative: settings.linktext)}</f:variable>
                <f:variable name="activeLink">{link -> f:or(alternative: settings.link)}</f:variable>
				<ul class="list-inline text-center">
					<f:if condition="{activeTwitter}">
						<li class="list-inline-item">
						  <f:link.typolink parameter="{activeTwitter}">
						    <span class="fa-stack fa-lg">
						      <i class="fas fa-circle fa-stack-2x"></i>
							  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
						    </span>
						  </f:link.typolink>
						</li>
					</f:if>
					<f:if condition="{activeFacebook}">
						<li class="list-inline-item">
						  <f:link.typolink parameter="{activeFacebook}">
						    <span class="fa-stack fa-lg">
						      <i class="fas fa-circle fa-stack-2x"></i>
						      <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
						    </span>
						  </f:link.typolink>
						</li>
					</f:if>
					<f:if condition="{activeGithub}">
						<li class="list-inline-item">
						  <f:link.typolink parameter="{activeGithub}">
						    <span class="fa-stack fa-lg">
						      <i class="fas fa-circle fa-stack-2x"></i>
						      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
						    </span>
						  </f:link.typolink>
						</li>
					</f:if>
				</ul>
	          	<p class="copyright text-muted">&copy;&nbsp;<f:format.date format="Y" date="now" />&nbsp;{copyrightText} <f:if condition="{activeLinktext}"><a target="_blank" rel="nofollow" href="{f:uri.typolink(parameter: activeLink)}">{activeLinktext}</a></f:if></p>
	        </div>
      	</div>
    </div>
</footer>
