<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <f:link.page pageUid="{settings.rootpage}" class="logo">
            <f:if condition="{settings.logo}">
                <f:image src="{settings.logo}" width="{settings.logo_width}" height="{settings.logo_height}" alt="{settings.logo_text}" />
            </f:if>
            <f:if condition="{settings.logo_text}">{settings.logo_text}</f:if>
        </f:link.page>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <f:translate key="menu" extensionName="ns_theme_cleanblog" />
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <f:render section="MainMenu" arguments="{MainMenu: MainMenu}" />
        </div>
    </div>
</nav>

<f:section name="MainMenu">
    <f:if condition="{MainMenu}">
        <ul class="navbar-nav ml-auto">
            <f:for each="{MainMenu}" as="item">
                <li class="nav-item">
                    <a href="{item.link}" title="{item.title}" class="nav-link">
                        {item.title}
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>
