<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->

<div class="post-preview articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>

	<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
	    <h2 class="post-title">
	      {newsItem.title}
	    </h2>
	    <h3 class="post-subtitle">
	      {newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.raw()}
	    </h3>
	</n:link>
	
  	<p class="post-meta">
  		<f:translate key="posted" extensionName="ns_theme_cleanblog" />
  		<f:translate key="on" extensionName="ns_theme_cleanblog" /> <f:format.date format="%B %d, %Y">{newsItem.datetime}</f:format.date>
  		<f:if condition="{newsItem.author}">
  			<f:translate key="by" extensionName="ns_theme_cleanblog" />
			{newsItem.author}
  		</f:if>
    </p>
</div>
<hr>
</html>
