<f:layout name="Default" />

<f:section name="main">
	<!-- Page Header -->
	<header class="masthead" style="background-image: url('{f:cObject(typoscriptObjectPath:'lib.pageResources')}')">
	    <div class="overlay"></div>
	    <div class="container">
	      	<div class="row">
		        <div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>{record -> f:render.text(field: 'title')}</h1>
						<f:variable name="subtitle">{record -> f:render.text(field: 'subtitle', optional: true)}</f:variable>
						<f:if condition="{subtitle}"><span class="subheading">{subtitle}</span></f:if>
					</div>
		        </div>
	      	</div>
	    </div>
	</header>
	<div class="container">
	    <div class="row">
			<div class="{f:if(condition: '{data.layout}', then: 'col-lg-12 col-md-12 mx-auto', else: 'col-lg-8 col-md-10 mx-auto')}">
				<!-- Render main content colPos=0 -->
				<f:cObject typoscriptObjectPath="lib.content" />
			</div>
	    </div>
  	</div>
  
</f:section>